.section
  #top-playlists-container
  #recent-songs-container
if partial 
  script#initial-data(type="application/json").
    !{JSON.stringify({ playlist, playlistType, songs})}
else
script(type="module").
  import { renderSongs, renderPlaylists } from "/assets/javascript/UiRender.js";
  const playlists = [!{JSON.stringify(playlist)}]
  const songs = !{JSON.stringify(songs)} 
  renderPlaylists("#{playlistType}", playlists);
  renderSongs(songs);