.section
  if playlistType === "your"
    h2 Your playlists
  else if playlistType === "contribution"
    h2 Contribution playlists
  else if playlistType === "anonPublic" || playlistType === "public"
    h2 Public playlists
  #top-playlists-container
if partial 
  script#initial-data(type="application/json").
    !{JSON.stringify({ playlists, playlistType })}
else
script(type="module").
  import { renderPlaylists } from "/assets/javascript/UiRender.js";
  const playlists = !{JSON.stringify(playlists)} 
  renderPlaylists("#{playlistType}", playlists);