#Fill the the configuration values.
PG_USER=your_postgres_user
#Do not change the PG_DATABASE configuration.
PG_DATABASE=nhanify
PG_PASSWORD=your_postgres_password
PG_HOST=db # This should match the service name of your database in docker-compose.yml
PG_PORT=5432
# Application configuration
HOST=0.0.0.0
PORT=3000
SESSION_SECRET=your_session_secret
#Twitch oauth keys
CLIENT_ID=
CLIENT_SECRET=
YT_API_KEY=