.navTopWrap 
  .stack1
    .mainNav
      .navTopLeft
        .menuButton
          i.fa-solid.fa-bars.menuIcon#navMenuIcon
        a(href="/home") Nhanify
      .center-align
        a(href="/home") Home 
        a(href="/anon/public/playlists/1") Public Playlists 
        if (user)
          a(href="/your/playlists/1") Your Playlists 
          a(href="/contribution/playlists/1") Contribution Playlists
      .navTopRight
        include profile_menu
  .stack1
    .profileMenu
      .menuItem 
        a(href="/home") Home 
      .menuItem 
        a(href="/anon/public/playlists/1") Public Playlists 
      if(user)
        .menuItem
          a(href="/your/playlists/1") Your Playlists 
        .menuItem
          a(href="/contribution/playlists/1") Contribution Playlists