if (user !== undefined)
	details.profileMenu 
		summary 
			i.fa-solid.fa-circle-user.menuIcon
		.profileDropdown 
			.menuItem
				i.fa-solid.fa-user.menuIcon
				p #{user.username}
			.menuItem
				i.fa-solid.fa-gear.menuIcon
				p Settings
			.menuItem
				i.fa-solid.fa-right-from-bracket.menuIcon
				form(action="/signout" method="post") 
					button(type="submit") Sign out
else
	a(href="/twitchAuth") Sign in with Twitch